.form {
  align-items: center;
  background: rgba(123, 149, 153, 0.562);
  border: 2px rgb(4, 145, 170) solid;
  box-shadow: 2px 2px 10px;
  display: flex;
  flex-flow: column wrap;
  font-size: 2rem;
  gap: 2em;
  max-height: 400px;
  max-width: 300px;
  padding: 40px 30px 20px;
}

.input-name, .input-email {
  border: none;
  line-height: 200%;
}

.button-play, .button-config {
  border: none;
  font-family: Cinzel , serif;
  font-size: 2rem;
  height: 3rem;
  min-width: 10rem;
}

.button-play:hover, .button-config:hover {
  box-shadow: 1px 1px 5px;
  position: relative;
  top: -1px;
}

label {
  display: flex;
  flex-flow: column wrap;
  gap: 1rem;
  text-align: center;
  width: 100%;
}
